body {
    margin:0;
}
::selection {
    background-color:#04AA6D;
    color:white;
}
/*header*/
.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;
    border:1px solid black;
}
.header a:link {
    text-decoration: none;
}
.header-left, .header-middle, .header-right {
    color:black;
}
/*side navigation bar */
.sidenav {
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 3.3rem;
  left: 0;
  border:1px solid black;
  overflow-x: hidden;
  text-align: center;
}
.navItems  {
     display: block;
     color: black;
     text-decoration: none;
     width:100%;
     margin:0rem;
     padding:5px;
}
.sidenav ul {
    padding-left:0;
}
/*green color on hover and selection*/
.active {
    background-color: #04AA6D;
    color: white;
}
.sidenav a:hover:not(.active ) {
    background-color: rgb(216, 241, 232);
    color: black;
  }
/*styling for the text*/
.main {
    margin:0 20rem 4rem 20rem;
}
article {
    line-height: 1.8;
}
.email {
    color:#2d2dff;
    text-decoration: underline;
}
.snippet {
    background-color: #f6f8fa;
    padding: 10px;
    width:fit-content;
    height:fit-content;
}
.white-circle {
    list-style-type: circle;
}
.indent {
    margin-left: 40px;
}
/*responsive code*/
@media only screen and (max-width: 990px) {
    .main {
        margin:0 10rem 4rem 15rem;
    }
}

@media only screen and (max-width: 760px) {
    .sidenav {
        width: 100%;
        height: auto;
        position: relative;
        top:80%
          }
    .main {
        margin:2rem
    }
}
@media only screen and (max-width: 320px) {
    .main {
        margin:2rem;
    }
}